{% extends 'base.html' %}
{% load static %}
{% load markdownify %}
{% block content %}
  <body>
    <main class="recipe-detail">
      <div>
        {% if recipe.image %}
          <img src="{{ recipe.image }}"
               class="pull-right"
               height="auto"
               width="300px"
               alt="food picture"
               style="border-radius: 25px; margin-top: 50px;"/>
        {% endif %}
      </div>
      <h1><b>{{ recipe.name }}</b></h1>
      <p>Created by {{ recipe.author | default_if_none:"Unknown" }}</p>
      <p>
        Tags:
        {% for tag in recipe.tags.all %}{{ tag.name }},&nbsp{% endfor %}
      </p>
      {{ recipe.description | markdownify }}
      <h2><b>Ingredients:</b></h2>
      <table>
        <thead>
          <tr>
            <th colspan="2"><b>Amount:</b></th>
            <th><b>Food item:</b></th>
            <th><b>Notes:</b></th>
          </tr>
        </thead>
        <tbody>
          {% for ingredient in recipe.ingredients.all %}
            <tr>
              <td style="width: 20%">{{ ingredient.fraction }}</td>
              <td style="width: 10%">{{ ingredient.add_s_abbreviation }}</td>
              <td style="width: 30%">{{ ingredient.add_s_fooditem }}</td>
              <td style="width: 40%">{{ ingredient.food.note }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
      <h2><b>Steps:</b></h2>
      <ol>
        {% for step in recipe.steps.all %}<li>{{ step.directions }}</li>{% endfor %}
      </ol>
        <div>
          <p>{{ recipe.rating_average }}</p>
        </div>
      <div>
        <form id="rating"
              method="post"
              action="{% url "recipe_rating" recipe.id %}">
          {% csrf_token %}
          {{ rating_form.as_p }}
          <button id="button" class="btn btn-warning pull-right">Rate</button>
          <a href="{% url 'recipe_edit' recipe.id %}" id="button1" class="btn btn-warning text-dark mx-auto" href="#" role="button">Edit</a>
          <a href="{% url 'recipe_delete' recipe.id %}" id="button2" class="btn btn-warning text-dark mx-auto" href="#" role="button">Delete</a>
        </form>
      </div>
      <p>
        Created {{ recipe.created }} |
        Updated {{ recipe.updated }}
      </p>
    </main>
    <footer class="text-center text-body fs-6 fw-lighter">
      <div class="col">Copyright 2022 by David "Lewey" Melchor</div>
      <div class="col">The Finest Recipes Money Can Buy</div>
    </footer>
  </body>
{% endblock content %}
