{% extends 'base.html' %}
{% load static %}
{% load markdownify %}
{% block title %} FFR - {{ recipe.name }}{% endblock title %}
{% block content %}
  <body>
    <main class="recipe-detail">
      <div>
        <a href="{% url 'recipe_edit' recipe.id %}">Edit</a>
        <a href="{% url 'recipe_delete' recipe.id %}">Delete</a>
      </div>
      <div>
        {% if recipe.image %}
          <img id="image"
               src="{{ recipe.image }}"
               class="pull-right"
               height="auto"
               width="300px">
        {% endif %}
      </div>
      <h1 >{{ recipe.name }}</h1>
      <p>
        Tags:
        {% for tag in recipe.tags.all %}{{ tag.name }},&nbsp{% endfor %}
      </p>
      {{ recipe.description | markdownify }}
      {% comment %} <p>{{ recipe.description }}</p> {% endcomment %}
      <h2>Ingredients</h2>
      <table>
        <thead>
          <tr>
            <th colspan="2">Amount</th>
            <th>Food item</th>
            <th>Notes</th>
          </tr>
        </thead>
        <tbody>
          {% for ingredient in recipe.ingredients.all %}
            <tr>
              <td>{{ ingredient.amount }}</td>
              <td>{{ ingredient.measure.abbreviation }}</td>
              <td>{{ ingredient.food.name }}</td>
              <td>{{ ingredient.food.note }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
      <p class="pull-right">
        Created {{ recipe.created }} |
        Updated {{ recipe.updated }}
      </p>
      <h2>Steps</h2>
      <ol>
        {% for step in recipe.steps.all %}<li>{{ step.directions }}</li>{% endfor %}
      </ol>
      {% comment %} {% if recipe.ratings %} {% endcomment %}
      <div>
        <p>{{ recipe.rating_average }}</p>
      </div>
      {% comment %} {% endif %} {% endcomment %}
      <div>
        <form id="rating"
              method="post"
              action="{% url "recipe_rating" recipe.id %}">
          {% csrf_token %}
          {{ rating_form.as_p }}
          <button id="button" class="btn btn-warning pull-right">Rate</button>
        </form>
      </div>
    </main>
    <footer style="position: fixed;
                   bottom: 15px;
                   width: 100%;
                   height: 3rem;"
            class="text-center text-body fs-6 fw-lighter">
      <div class="col">Copyright 2022 by David "Lewey" Melchor</div>
      <div class="col">The Finest Recipes Money Can Buy</div>
    </footer>
  </body>
{% endblock content %}
