{% extends 'base.html' %}
{% load static %}
{% load markdownify %}
{% block content %}
  <body class="bg-secondary p-3 text-warning"
  style="  background-image: url('https://images.unsplash.com/photo-1438979087584-602939abfd2d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2370&q=80');
     height:100%; background-position: center; background-repeat: no-repeat; background-size: cover;">
    <header >
      <nav>
        <div class="dropdown">
          <button class="btn btn-secondary"
                  type="button"
                  data-bs-toggle="dropdown"
                  aria-expanded="false">
            <span class="material-symbols-outlined text-warning">menu</span>
          </button>
          <ul class="dropdown-menu bg-secondary">
            <li>
              <a class="text-body dropdown-item"
                 style="text-decoration: none"
                 href="{% url 'home' %}">
                <p class="text-warning">Recipes</p>
              </a>
            </li>
            <li>
              <a class="text-body dropdown-item"
                 style="text-decoration: none"
                 href="{% url 'recipe_new' %}">
                <p class="text-warning">Write a recipe</p>
              </a>
            </li>
            <li>
              <a class="text-body dropdown-item"
                 style="text-decoration: none"
                 href="{% url 'tags_list' %}">
                <p class="text-warning">Tags</p>
              </a>
            </li>
            <li>
              <a class="text-body dropdown-item"
                 style="text-decoration: none"
                 href="{% url 'tag_new' %}">
                <p class="text-warning">Create a tag</p>
              </a>
            </li>
            <li>
              <a class="text-body dropdown-item"
                 style="text-decoration: none"
                 href="{% url 'admin:index' %}">
                <p class="text-warning">Admin</p>
              </a>
            </li>
          </ul>
        </div>
      </nav>
      <div class="position-relative">
        <a class="text-body dropdown-item"
           style="text-decoration: none"
           href="{% url 'home' %}">
          <img class="position-absolute top-0 start-50 translate-middle"
               src="{% static "recipes/images/farm-house-logo.png" %}"
               height="50px"
               width="auto"/>
          <h1 class="text-center text-warning lh-lg">
            <b>Farm Fresh Recipes</b>
          </h1>
        </a>
      </div>
    </header>
    <main class="recipe-detail">
      <div>
        <a href="{% url 'recipe_edit' recipe.id %}">Edit</a>
        <a href="{% url 'recipe_delete' recipe.id %}">Delete</a>
      </div>
      <div>
        {% if recipe.image %}
          <img id="image"
               src="{{ recipe.image }}"
               class="pull-right"
               height="auto"
               width="300px">
        {% endif %}
      </div>
      <h1 >{{ recipe.name }}</h1>
      <p>
        Tags:
        {% for tag in recipe.tags.all %}{{ tag.name }},&nbsp{% endfor %}
      </p>
      {{ recipe.description | markdownify }}
      {% comment %} <p>{{ recipe.description }}</p> {% endcomment %}
      <h2>Ingredients</h2>
      <table>
        <thead>
          <tr>
            <th colspan="2">Amount</th>
            <th>Food item</th>
            <th>Notes</th>
          </tr>
        </thead>
        <tbody>
          {% for ingredient in recipe.ingredients.all %}
            <tr>
              <td>{{ ingredient.amount }}</td>
              <td>{{ ingredient.measure.abbreviation }}</td>
              <td>{{ ingredient.food.name }}</td>
              <td>{{ ingredient.food.note }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
      <p class="pull-right">
        Created {{ recipe.created }} |
        Updated {{ recipe.updated }}
      </p>
      <h2>Steps</h2>
      <ol>
        {% for step in recipe.steps.all %}<li>{{ step.directions }}</li>{% endfor %}
      </ol>
      {% comment %} {% if recipe.ratings %} {% endcomment %}
      <div>
        <p>{{ recipe.rating_average }}</p>
      </div>
      {% comment %} {% endif %} {% endcomment %}
      <div>
        <form id="rating"
              method="post"
              action="{% url "recipe_rating" recipe.id %}">
          {% csrf_token %}
          {{ rating_form.as_p }}
          <button id="button" class="btn btn-warning pull-right">Rate</button>
        </form>
      </div>
    </main>
    <footer style="position: fixed;
                   bottom: 15px;
                   width: 100%;
                   height: 3rem;"
            class="text-center text-body fs-6 fw-lighter">
      <div class="col">Copyright 2022 by David "Lewey" Melchor</div>
      <div class="col">The Finest Recipes Money Can Buy</div>
    </footer>
  </body>
{% endblock content %}
