{% extends 'base.html' %}
{% load static %}
{% block content %}
  <body>
    {% comment %} Main Card List Start {% endcomment %}
    <main id="list-main">
      {% for recipe in recipe_list %}
        <div class="recipe-grid">
          <div id="card" class="card border-warning" style="width: 18rem;">
            {% if recipe.image %}
              <a href="{% url 'recipe_detail' recipe.pk %}">
                <img class="card-img-top recipe-card-image"
                     src="{{ recipe.image }}"
                     height="auto"
                     width="auto"
                     alt="food pic"/>
              </a>
            {% endif %}
            <div class="card-body bg-warning bg-opacity-75">
              <center class="card-title m-2"><a class="recipe-card-title text-body fs-3"
   style="text-decoration: none"
   href="{% url 'recipe_detail' recipe.pk %}">{{ recipe.name }}</a></center>
              <p class="text-body fs-6 fw-lighter text-center">{{ recipe.updated }}</p>
            </div>
          </div>
        </div>
      {% endfor %}
      <div class="pagination">
        <span class="step-links">
          {% if page_obj.has_previous %}
            <a id="page" href="?page=1">&laquo; first</a>
            <a id="page" href="?page={{ page_obj.previous_page_number }}">previous</a>
          {% endif %}
          <span id="page" class="current">Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.</span>
          {% if page_obj.has_next %}
            <a id="page" href="?page={{ page_obj.next_page_number }}">next</a>
            <a id="page" href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
          {% endif %}
        </span>
      </div>
    </main>
    <footer class="text-center text-body fs-6 fw-lighter">
      <div class="col">Copyright 2022 by David "Lewey" Melchor</div>
      <div class="col">The Finest Recipes Money Can Buy</div>
    </footer>
  </div>
</body>
{% endblock content %}
