{% extends 'base.html' %}
{% load static %}
{% load markdownify %}
{% block content %}
    <body>
        <header >
            <nav>
                <div class="dropdown">
                    <button class="btn btn-secondary"
                            type="button"
                            data-bs-toggle="dropdown"
                            aria-expanded="false">
                        <span class="material-symbols-outlined text-warning">menu</span>
                    </button>
                    <ul class="dropdown-menu bg-secondary">
                        <li>
                            <a class="text-body dropdown-item"
                               style="text-decoration: none"
                               href="{% url 'home' %}">
                                <p class="text-warning">Recipes</p>
                            </a>
                        </li>
                        <li>
                            <a class="text-body dropdown-item"
                               style="text-decoration: none"
                               href="{% url 'recipe_new' %}">
                                <p class="text-warning">Write a recipe</p>
                            </a>
                        </li>
                        <li>
                            <a class="text-body dropdown-item"
                               style="text-decoration: none"
                               href="{% url 'tags_list' %}">
                                <p class="text-warning">Tags</p>
                            </a>
                        </li>
                        <li>
                            <a class="text-body dropdown-item"
                               style="text-decoration: none"
                               href="{% url 'tag_new' %}">
                                <p class="text-warning">Create a tag</p>
                            </a>
                        </li>
                        <li>
                            <a class="text-body dropdown-item"
                               style="text-decoration: none"
                               href="{% url 'admin:index' %}">
                                <p class="text-warning">Admin</p>
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>
            <div class="position-relative">
                <a class="text-body dropdown-item"
                   style="text-decoration: none"
                   href="{% url 'home' %}">
                    <img class="position-absolute top-0 start-50 translate-middle"
                         src="{% static "recipes/images/farm-house-logo.png" %}"
                         height="50px"
                         width="auto"/>
                    <h1 class="text-center text-warning lh-lg">
                        <b>Farm Fresh Recipes</b>
                    </h1>
                </a>
            </div>
        </header>
        <main class="recipe-detail">
            <div>
                <a href="{% url 'tag_edit' tag.id %}">Edit</a>
                <a href="{% url 'tag_delete' tag.id %}">Delete</a>
            </div>
            {% comment %} WORK HERE TO SHOW RECIPE NAME< TAGS< AND IMAGE {% endcomment %}
            <h2>Recipes for {{ tag.name }}</h2>
            <div>
                {% for recipe in tag.recipes.all %}
                    {% if recipe.image %}
                        <img id="image"
                             src="{{ recipe.image }}"
                             class="pull-right"
                             height="auto"
                             width="300px">
                    {% endif %}
                </div>
                <h1 >{{ recipe.name }}</h1>
                {{ recipe.description | markdownify }}
                <p class="pull-right">
                    Created {{ recipe.created }} |
                    Updated {{ recipe.updated }}
                </p>
            {% endfor %}
            {% comment %} <p>{{ recipe.description }}</p> {% endcomment %}
        </main>
        <footer style="position: fixed;
                       bottom: 15px;
                       width: 100%;
                       height: 3rem;"
                class="text-center text-body fs-6 fw-lighter">
            <div class="col">Copyright 2022 by David "Lewey" Melchor</div>
            <div class="col">The Finest Recipes Money Can Buy</div>
        </footer>
    </body>
{% endblock content%}
