{% extends 'base.html' %}
{% load static %}
{% load markdownify %}
{% block title %} FFR - {{ tag.name }}{% endblock title %}
{% block content %}
    <body>
        <main class="recipe-detail">
            <div>
                <a href="{% url 'tag_edit' tag.id %}">Edit</a>
                <a href="{% url 'tag_delete' tag.id %}">Delete</a>
            </div>
            {% comment %} WORK HERE TO SHOW RECIPE NAME< TAGS< AND IMAGE {% endcomment %}
            <h2>Recipes for {{ tag.name }}</h2>
            <div>
                {% for recipe in tag.recipes.all %}
                    {% if recipe.image %}
                        <img id="image"
                             src="{{ recipe.image }}"
                             class="pull-right"
                             height="auto"
                             width="300px">
                    {% endif %}
                </div>
                <h1 >{{ recipe.name }}</h1>
                {{ recipe.description | markdownify }}
                <p class="pull-right">
                    Created {{ recipe.created }} |
                    Updated {{ recipe.updated }}
                </p>
            {% endfor %}
            {% comment %} <p>{{ recipe.description }}</p> {% endcomment %}
        </main>
        <footer style="position: fixed;
                       bottom: 15px;
                       width: 100%;
                       height: 3rem;"
                class="text-center text-body fs-6 fw-lighter">
            <div class="col">Copyright 2022 by David "Lewey" Melchor</div>
            <div class="col">The Finest Recipes Money Can Buy</div>
        </footer>
    </body>
{% endblock content%}
