/* @import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

html, button, select, textarea, input {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

header nav ul {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  justify-items: center;
}

h1, h2 {
  font-family: 'Roboto', sans-serif;
}

p, th, td, ol, a{
  font-family: 'Pathway Extreme', sans-serif;
}

main {
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

a,
a:visited {
  text-decoration: none;
  color: #208ACC;
}

button.button {
  background-color: #E012AD;
  border: 2px solid transparent;
  border-radius: 4px;
  color: white;
  padding: 1em 1.5em;
  text-transform: uppercase;
}

button.button:hover {
  background-color: white;
  border-color: #E012AD;
  color: #E012AD;
}

button.button:active {
  background-color: lightblue;
}

input, textarea {
  border: 1px solid #E012AD;
  border-radius: 4px;
  padding: 1em 1.5em;
}

table {
  margin: auto;
}

td, th {
  padding: .25em .5em;
}

textarea {
  resize: none;
}

url {
  color:rgb(255, 232, 80)
}

#rating {
  display: flex;
}


.recipe-grid {
  display: inline-block;
  grid-template-columns: repeat(4, 1fr);
  gap: 2em;
  padding: 2em;
  width: 350px;
  vertical-align: middle;
}

.recipe-card-image {
  display: block;
}

.recipe-card-title{
  margin-top: 48px;
}

.recipe-card-date {
  display: block;
}

.recipe-form {
  margin: 4em auto;
  min-width: 300px;
  max-width: 800px;
}

.recipe-form p {
  display: grid;
  grid-template-columns: 8em 1fr;
  column-gap: 20px;
}

.recipe-form label {
  text-align: right;
}

.recipe-detail {
  margin: 4em auto;
  min-width: 300px;
  max-width: 800px;
}

.pull-right {
  float: right;
  margin: 1em;
}

.control {
  text-align: right;
}
