{% extends 'base.html' %}
{% load static %}
{% block title %}Login{% endblock title %}
{% block content %}
  <body>
    <main class="recipe-form recipe-detail" style="padding-right: 50px; padding-top: 35px; padding-bottom: 25px;">
        <h2>Log In</h2>
        <form method="post">
          {% csrf_token %}
          {{ form.as_p }}
          <button type="submit" class="btn btn-warning" style="font-family: 'Pathway Extreme'; margin-left: 400px;">Log In</button>
          <div class="btn btn-warning" style="margin-left: 75px;"><a class="text-dark"style="text-decoration: none; " href="{% url 'signup' %}">Sign up</a></div>
        </form>
    </main>
    <footer class="text-center text-body fs-6 fw-lighter">
      <div class="col">Copyright 2022 by David "Lewey" Melchor</div>
      <div class="col">The Finest Recipes Money Can Buy</div>
    </footer>
  </body>
{% endblock content %}
