{% load static %}
<!DOCTYPE html>
<html lang="en">
      <head>
            <meta charset="UTF-8"/>
            <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
            <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
            <title>{{ title }}</title>
            {% comment %} CSS {% endcomment %}
            <link rel="stylesheet" href="{% static 'css/app.css' %}"/>
            <link rel="preconnect" href="https://fonts.googleapis.com"/>
            <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
            <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap"
                  rel="stylesheet"/>
            {% comment %} font 2 {% endcomment %}
            <link rel="preconnect" href="https://fonts.googleapis.com"/>
            <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
            <link href="https://fonts.googleapis.com/css2?family=Pathway+Extreme:wght@100&family=Roboto:wght@100&family=Sigmar&display=swap"
                  rel="stylesheet"/>
            {% comment %} menu {% endcomment %}
            <link rel="stylesheet"
                  href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0"/>
            {% comment %} BOOTSTRAP {% endcomment %}
            {% load django_bootstrap5 %}
            {# Load Bootstrap CSS and JavaScript #}
            {% bootstrap_css %}
            {% bootstrap_javascript %}
            {# Load Bootstrap alerts #}
            {% bootstrap_messages %}
      </head>
      {% comment %}
      (https://images.unsplash.com/photo-1536620752150-a7e9e62a62ee?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2371&q=80);
      (https://images.unsplash.com/photo-1478109562701-8d261b58b09d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2370&q=80);
      (https://images.unsplash.com/photo-1508615070457-7baeba4003ab?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2370&q=80);
      (https://images.unsplash.com/photo-1506143925201-0252c51780b0?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1335&q=80);
      (https://images.unsplash.com/photo-1555885457-8cb63c8a576c?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=3540&q=80);
      (https://images.unsplash.com/photo-1438979087584-602939abfd2d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2370&q=80);
      {% endcomment %}
      <body class="bg-secondary p-3 text-warning"
      style="  background-image: url('https://images.unsplash.com/photo-1438979087584-602939abfd2d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2370&q=80');
       height:100%; background-position: center; background-repeat: no-repeat; background-size: cover;">
       <header>
            <nav>
              <div class="dropdown">
                <button
                  style="height:45px; width:50px;"
                class="btn btn-secondary"
                        type="button"
                        data-bs-toggle="dropdown"
                        aria-expanded="false">
                  <span class="material-symbols-outlined text-warning">MENU</span>
                </button>
                <ul class="dropdown-menu bg-secondary">
                  <li>
                    <a class="text-body dropdown-item"
                       style="text-decoration: none"
                       href="{% url 'home' %}">
                      <p class="text-warning">Recipes</p>
                    </a>
                  </li>
                  <li>
                    <a class="text-body dropdown-item"
                       style="text-decoration: none"
                       href="{% url 'recipe_new' %}">
                      <p class="text-warning">Write a recipe</p>
                    </a>
                  </li>
                  <li>
                    <a class="text-body dropdown-item"
                       style="text-decoration: none"
                       href="{% url 'tags_list' %}">
                      <p class="text-warning">Tags</p>
                    </a>
                  </li>
                  <li>
                    <a class="text-body dropdown-item"
                       style="text-decoration: none"
                       href="{% url 'tag_new' %}">
                      <p class="text-warning">Create a tag</p>
                    </a>
                  </li>
                  <li>
                    <a class="text-body dropdown-item"
                       style="text-decoration: none"
                       href="{% url 'admin:index' %}">
                      <p class="text-warning">Admin</p>
                    </a>
                  </li>
                </ul>
              </div>
            </nav>
            <div class="position-relative">
              <a class="text-body dropdown-item"
                 style="text-decoration: none"
                 href="{% url 'home' %}">
                <img class="position-absolute top-0 start-50 translate-middle"
                     src="{% static "recipes/images/farm-house-logo.png" %}"
                     height="50px"
                     width="auto"
                     alt="farm house logo"/>
                <h1 class="text-center text-warning lh-lg">
                  <b>Farm Fresh Recipes</b>
                </h1>
              </a>
            </div>
          </header>
            {% block content %}
            {% endblock content %}
      </body>
</html>
